extends layout

block content
  h1= title + ". J S"
  p A port of the original #{title} DOS
  p for JS.
  canvas(id="world_canvas", width="400px")
  img( src = "/images/test.jpeg", style = "Display: none;", id = "test" )
  p 
    b Press spacebar to add more boxes onto the canvas.
    
  p
    b Press enter to push boxes left.
