!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src = "http://code.jquery.com/jquery-latest.js")
    script(src = "javascripts/processing-1.3.6.js")     
    script(src = "javascripts/Box2dWeb-2.1.a.3.js")
    script(src = "javascripts/dat.gui.js")
    script(src = "javascripts/main.js")
   
